- const randomInRange = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min
mixin flower(x, y, hue, size, rotation, delay)
  .flower(style=`--x: ${x}; --y: ${y}; --hue: ${hue}; --size: ${size}; --r: ${rotation}; --delay: ${delay};`)
    - let p = 0
    while (p < 4)
      .flower__petal(class=`flower__petal--${p}`)
        - let s = 0
        while (s < 4)
          div
          - s++
      - p++
    .flower__core
- let f = 0
while f < 50
  - const x = randomInRange(0, 100)
  - const y = randomInRange(0, 100)
  - const hue = randomInRange(0, 360)
  - const size = randomInRange(10, 50)
  - const rotation = randomInRange(0, 360)
  - const delay = f * 0.1
  +flower(x, y, hue, size, rotation, delay)
  - f++